body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 50p;
}
img{
  display: block;
  margin: auto;
}
 #details
{

  float: left;
  display: flex;
  background-color: red;
  text-align: center;
  width: 95%;
  height: 95%;
  justify-content: space-around;
  
}